version: "3.8"

services:
  db:
    image: mariadb:10.6
    container_name: ${DOMAIN}_db
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - wp_network

  wordpress:
    image: wordpress:latest
    container_name: ${DOMAIN}_app
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - ./wp-content:/var/www/html/wp-content
      - ./wp-config.php:/var/www/html/wp-config.php
      - ./.env:/var/www/html/.env
    networks:
      - wp_network

    environment:
      - RECIPE_JWT_SECRET=JWT_SECRET

    ports:
      - "${APP_PORT}:80"

networks:
  wp_network:

volumes:
  db_data:
